:root{
    --text-white: rgb(255, 255, 255);
    --text-dark: rgb(0, 0, 0);
    --text-grey: rgb(87, 87, 87);

    --bg: rgb(60, 53, 53);
    --bg-dark: rgb(34, 34, 34);
}
body{
    background-color: var(--bg);
    color: var(--text-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
header{
    overflow: hidden;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 100px;
}
.background{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
h1{
    text-align: center;
    margin-top: 50px;
    position: relative;
    font-size: 3em;
}
p.by{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: var(--text-grey)
}
footer{
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    width: calc(100% - 20px);
    height: 50px;
    background-color: var(--bg-dark);
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
div.content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 50vw;
    margin-inline: auto;
    margin-bottom: 80px;
}

div.content{
    width: 800px;
    display: flex;
    flex-direction: column-reverse; /* Arrange content vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

/* Style the image within the content */
div.content img {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; 
}